{% extends 'flatpages/default.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
        <div class="container mt-3">
            <h1 class="text-center">{{ title }}</h1>
            <div class="text-center">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'create' %}" class="btn btn-primary mb-3 mt-3">Создать объявление</a>
                {% endif %}
            </div>
            <div class="row">
                    {% if categories %}
                        <div class="col-md-4">
                            <div class="list-group">
                                {% for category in categories %}
                                    <a href="{% url 'category-home' category.id %}" class="list-group-item list-group-item-action">{{ category.name }}  <span class="badge badge-primary badge-pill">{{ category.snt }}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-8">
                    {% else %}
                        <div class="col-md-12">
                    {% endif %}
                    
                    {% if bulletins %}
                    {% for bulletin in bulletins %}
                        <div class="card mb-3">
                          <div class="card-header">
                            Категория: {{ bulletin.category }}
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{ bulletin.title }}</h5>
                            <div class="ck ck-content">
                                {% autoescape off %}
                                <p class="card-text">{{ bulletin.text|truncatewords:30|safe }}</p>
                                {% endautoescape %}
                            </div>
                            <a href="{% url 'post_view' bulletin.id %}" class="btn btn-primary">Читать</a>
                          </div>
                          <div class="card-footer text-muted">
                              создал: <strong>{{ bulletin.author }}</strong>  <small>{{ bulletin.date }}</small>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <h2 class="text-center">Объявлений нет :с</h2>
    {% endif %}
    
{% endblock %}