{% extends 'flatpages/default.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<h1 class="text-center">{{ title }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="container text-center">
            <div class="form-group">
                {{ form.text }}
                <div class="invalid-feedback">
                    {{ form.text.errors }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary ">Отправить сообщение</button>
        </div>
        
    </form>
{% endblock %}