{% extends 'flatpages/default.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<h1>{{ title }}</h1>
    <form action="" method="post">
        {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.text.id_for_label }}">Текст: </label>
              {{ form.text }}
              <div class="invalid-feedback">
                  {{ form.text.errors }}
              </div>
          </div>
        
            <button type="submit" class="btn btn-primary btn-block">Отправить сообщение</button>
    </form>
{% endblock %}